{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="container-max">
        <h2>Available Slots</h2>
        <div id="availableSlots">
            {% for day in days %}
            <div class="day-slots">
                <h3>{{ day|date:"F j, Y" }}</h3>
                <ul>
                    {% for slot in available_times|get_item:day %}
                    <li>{{ slot.time }} with {{ slot.staff }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
