{% extends "base.html" %}

{% block title %}Staff Login{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block content %}
<style>
    .login-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #495057;
        text-align: center;
    }
    .login-form {
        display: flex;
        flex-direction: column;
    }
    .login-form input {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .login-form button {
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .login-form button:hover {
        background-color: #333;
    }
    .login-form .form-header {
        margin-bottom: 20px;
    }
</style>
<div class="login-container">
    <h2 class="form-header">Staff Login</h2>
    <form class="login-form" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>
    <p><a href="{% url 'password_reset' %}">Forgot your password?</a></p>
</div>
{% endblock %}
