{% extends "base.html" %}

{% block title %}Staff Register{% endblock %}

{% block extrastyle %}

{% endblock %}

{% block content %}

<style>
    .register-container {
        max-width: 400px;
        margin: 100px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #495057;
        text-align: center;
    }
    .register-form {
        display: flex;
        flex-direction: column;
    }
    .register-form input {
        margin-bottom: 15px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    .register-form button {
        padding: 10px;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .register-form button:hover {
        background-color: #333;
    }
    .register-form .form-header {
        margin-bottom: 20px;
    }
</style>
<div class="register-container">
    <h2 class="form-header">Staff Register</h2>
    <form class="register-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3">
            <label for="id_registration_key" class="form-label">Registration Key</label>
            <input type="password" name="registration_key" class="form-control" required id="id_registration_key">
        </div>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
